.bundle/
vendor/
Gemfile.lock
pkg/
*.gem
*.bundle
*.so
*.dll
*.dylib
*.dSYM/
lib/fdr/fdr_native.bundle
lib/fdr/fdr_native.so
ext/fdr_native/target/
ext/fdr_native/Cargo.lock
ext/fdr_native/Makefile
ext/fdr_native/mkmf.log
ext/fdr_native/tmp/
ext/fdr_native/.rb-sys/
